* {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #faccfa;
}


/*Header styles*/

#headerContainer>h1 {
    font-size: large;
    font-weight: bold;
    color: darkviolet;
}

#headerContainer>small {
    font-size: small;
    font-weight: normal;
}

#headerContainer {
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: #DDDBDA;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.3);
}

#formContainer {
    margin: 30px;
    padding: 20px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #DDDBDA;
}

#formContainer>#studentForm :nth-last-child(1) {
    justify-content: center;
    display: flex;
}

#formContainer>#studentForm>.input-field {
    display: flex;
    flex-direction: column;
}

#formContainer>#studentForm>.input-field>label {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
    color: darkviolet;
}

#formContainer>#studentForm>.input-field>input {
    margin: 10px;
    font-size: medium;
    font-weight: normal;
    color: black;
}

#formContainer>#studentForm :nth-last-child(1)>button {
    margin-top: 20px;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    color: darkviolet;
    background-color: rgba(248, 247, 248, 0.342);
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}

#listContainer>.list-item {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #DDDBDA;
    border-radius: 5px;
}

#listContainer>.list-item>h2 {
    font-size: medium;
    font-weight: bold;
    color: darkviolet;
}

#listContainer>.list-item>p {
    font-size: small;
    font-weight: normal;
    color: black;
}

#listContainer>.list-item>button {
    margin-top: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    color: darkviolet;
    border-radius: 5px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.3);
}

#listContainer {
    /* display: flex; */
    grid-template-columns: repeat(12, 1fr);
}

@media (width < 320px) {
    listContainer>.list-item {
        grid-column: span 12;
    }
}